<%- include('partials/header'); %> //incluyo el partial de header 
    <h1>About</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia eum dolores autem quaerat adipisci ad! Dolorum blanditiis nobis quas accusamus illum similique deserunt harum officiis fuga explicabo, quidem, aliquid repudiandae dignissimos autem porro iste cum quos animi, voluptatem fugiat inventore accusantium. Perspiciatis alias, impedit ipsa nemo veritatis nam incidunt, distinctio eligendi praesentium natus ad quod quaerat hic quia dicta tenetur quis explicabo rerum non maxime dolorum! Magni nam reprehenderit dolorum eos vero veniam doloremque suscipit sint aspernatur minus laborum quaerat, officiis libero ad, sapiente voluptatibus voluptatem quis! Quos quasi totam tenetur et voluptatum provident delectus doloribus nesciunt iste. Reiciendis, aspernatur!</p>
<%- include('partials/footer'); %> //incluyo el partial de footer